@import './variables.scss';
@import './pages/home.scss';
@import './nav-bar.scss';
@import './pages/header-component.scss';
@import './pages/about.scss';
@import './pages/services.scss';
@import './pages/resume.scss';

html, body {
  font-family: sans-serif;
  margin:0;
  padding:0;
  color: gray;
  scroll-behavior: smooth;
  }